<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static "juego/css/principal.css" %}">
  <link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">
  <title>Avaloncete</title>
</head>
<body>
  <div id="header">
    {% if user.is_authenticated %}
        <p>Hola, {{ user.username }}!</p>
        <p><a href='{% url 'logout' %}'>Cerrar sesión</a></p>
    {% else %}
        <p><a href={% url 'registrarse' %}>Registrarse Aqui!</a></p>
    {% endif %}
    <a style='text-decoration: none' href="{% url 'index' %}"><h1 class='principal'>Avaloncete</h1></a>
  </div>
  
  <!-- Comienzo del cuerpo de la página. -->
  <div id="body">
    {% block body_block %}

    {% endblock %}
  </div>
</html>
