.principal {
  color: #cc9410;
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  font-size: 50px;
  text-shadow: 2px 2px #f7978b;
  text-decoration: none !important;
}

.invalid_credentials {
	color: firebrick;
}
